<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="start" name="settings" color="dark"></ion-icon>
      </ion-button>
      <!-- <ion-icon slot="start" *ngIf="offlineFlag" name="radio" color="danger"></ion-icon>
      <ion-icon slot="start" *ngIf="!offlineFlag" name="wifi" color="success"></ion-icon> -->
      <div class="offline">
        <ion-img slot="start" *ngIf="offlineFlag" src="/assets/offline.png"></ion-img>
        <ion-img slot="start" *ngIf="!offlineFlag" src="/assets/online.png"></ion-img>
       </div>
    </ion-buttons>
    <ion-title class="welcome-card">
        <ion-img [src]="titlelog"></ion-img>
    </ion-title>
  
     
   
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="power" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="portal-box">
    <div class="portal-title" [ngStyle]="{'background-color':cbgcolor}">
      <ion-row>
        <ion-col size="9"><span>{{portalTile}}</span></ion-col>
        <ion-col><ion-icon name="list" (click)="presentPopoverPortal($event)"></ion-icon></ion-col>
       </ion-row>
    </div>
    <ion-list class="portal-list">
      <ion-item *ngFor="let item of data">
        <ion-row>
          <ion-col>
            <span>
                <img  src="{{sdomain}}/{{folder}}/{{item.LinkImage}}" alt="">
            </span>
          </ion-col>
          <ion-col size="9">
            <div>
              <ion-text>
                <a [routerLink]="['/form-list']" [queryParams]="{vid:item.SFMView,vtitle:item.LinkTitle,type:'formlist',formid:item.SFMForm,temptitle:portalTile}">
                  {{item.LinkTitle}} </a>
              </ion-text>
            </div>
          </ion-col>
          <ion-col><span> <a [routerLink]="['/new-form']" [queryParams]="{vid:item.SFMView,aTitle:item.LinkTitle,aid:item.SFMForm,temptitle:portalTile}"><img
                  src="../../../assets/icon/add.png" alt=""></a></span></ion-col> 
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

</ion-content> 