<ion-header>
  <ion-toolbar>
    <ion-title>
      My Task
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    
  </div>
  <!-- <ion-item>
      <ion-label position="stacked">fixed<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="text" class="form-control" required maxLength="10" placeholder="Awesome Input" [(ngModel)]="userName" value="custom"></ion-input>
  </ion-item>
  <p>sds</p>
  <ion-item>
    <ion-input type="number" class="form-control" required maxlength="5" placeholder="Awesome Input"></ion-input>
  </ion-item>
  <span *ngIf="userName.error">用户名必须在10位一下</span> -->
</ion-content>
