<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon name="arrow-back" (click)="dismiss()" mode="ios" color="dark"></ion-icon>
    </ion-buttons>
    <ion-title>Security Manager</ion-title>
    <ion-buttons slot="end">
      <ion-text color="dark" (click)="clean()">
        <h6>Clear</h6>
      </ion-text>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="searchTop">
   <div class="search-box">
      <ion-searchbar (ionInput)="getSearch($event)" [(ngModel)]="searchName" mode="ios"></ion-searchbar>
      <!-- <img src="../../../../../assets/icon/search.png" alt=""> -->
      <!-- <ion-input type="search" [(ngModel)]="searchName" (keypress)="getSearch(event)" ></ion-input> -->
      <!-- <input type="text" placeholder="Search" [(ngModel)]="searchName" (keyup)="getSearch()" placeholder="">
      <img src="../../../../../assets/icon/delect.png" class="delect" (click)="delectSelect()" *ngIf="isDelect"> -->
   </div>
   | 
    <div class="searchRight" (click)="getSelectlist()">
        <p class="selectName">{{selectText}}</p>
        <ion-icon name="arrow-down" ></ion-icon>
        <!-- <img src="../../../../../assets/icon/down.png" alt="" class="down" (click)="getSelectlist()"> -->
    </div>
    <ul class="selectList" *ngIf="isSelectList">
        <li *ngFor="let item of listSlect;let index=index"  [ngClass]="{'active': index==selectIndex}" (click)="select(item,index)">{{item.person}}</li>
    </ul>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of listData" (click)="setManager(item)">
      <ion-label>{{item.EMPFullName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
