<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="offline">
        <ion-img slot="start" *ngIf="offlineFlag" class="bgdoff" src="/assets/offline.png"></ion-img>
        <ion-img slot="start" *ngIf="!offlineFlag" class="bgdon" src="/assets/online.png"></ion-img>
       </div>
    </ion-buttons>
    <ion-title class="welcome-card">
        <ion-img [src]="titlelog"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="power" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="todo-box">
  <div class="todo-title" [ngStyle]="{'background-color':cbgcolor}">
    <ion-row>
      <ion-col><span>{{public.todoTitle}}</span></ion-col>
     </ion-row>
  </div>
</div>
<div class="searchTop">
  <div class="search-box">
    <img src="../../../assets/icon/search.png" alt="">
    <ion-input type="text" placeholder="Search" (ionChange)=getItems($event) ></ion-input>
  </div>
  <!-- <div class="searchRight">
    <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
  </div> -->
</div>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data">
      <div class="contentIcon">
        <ion-icon *ngIf="item.status=='ka_Completed'" name="checkmark-circle" style="color: #b2b6b2;"></ion-icon>
        <ion-icon *ngIf="item.status=='ka_Open'" name="time" style="color: #06bb0c;"></ion-icon>
        <ion-icon *ngIf="item.status=='ka_Draft'" name="save" style="color: #FF9900;"></ion-icon>
        <ion-icon *ngIf="item.status=='ka_INRW'" name="repeat" style="color: rgb(9, 54, 255);"></ion-icon>
        <ion-icon *ngIf="item.status=='ka_Rejected'" name="alert" style="color: rgb(247, 6, 6);"></ion-icon>
        <ion-icon *ngIf="item.status!='ka_INRW' && item.status!='ka_Completed' && item.status!='ka_Open' && item.status!='ka_Draft' && item.status!='ka_Rejected'" name="leaf" style="color: rgba(104, 194, 230, 0.568);"></ion-icon>
      </div>
      <div class="contentLeft">
        <div class="title">
          <span *ngIf="item.actTitle!=''">
            <a [ngStyle]="{'color':cbgcolor}" [routerLink]="['/myaction']" [queryParams]="{unid:item.unid,type:'open'}"> {{item.actTitle}}</a>
          </span>
        </div>
        <div class="action">
          <ion-label>{{item.WFStatus}}</ion-label>
          <ion-label></ion-label>
          <ion-label>{{item.DueDate}}</ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
