ion-title ion-img{
  height: 40px;
}
.offline{
    width:25px;
    height:25px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 18px;
    ion-img{
      width: 100%;
      height:100%;
    }
    .bgdoff{
      background-color: #FF4647;
    }
    .bgdon{
      background-color:#65AB64;
    }
  }
  .todo-box{
    padding: 1.5rem;
    .todo-title{
      /*background-color:#B81321 ;*/
      border-radius: 5px;
      color:#fff;
      height: 3.5rem;
      line-height: 3.5rm;
      text-align: center;
      span{
        line-height: 2.7rem;
        font-size: 1.7rem;
      }
      ion-icon{
        font-size: 3rem;
        float: right;
        color: #fff;
        padding: 0 1.5rem 0 0;
        cursor: pointer;
      }
    }
  }
  .searchTop{
    display: flex;
    line-height: 4rem;
    height: 4rem;
    margin: 0 1.5rem;
    border-radius: 2px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
   .search-box{
    background: #ededed;
       width: 100%;
       padding-left: 1rem;
       line-height: 48px;
       display: flex;
       border-radius:2px;
       ion-input{
        --padding-top: 1px;
        --padding-end: 8px;
        --padding-bottom: 1px;
        --padding-start: 5px;
       }
       input{
           border:none;
           background: none;
           padding-left: 1rem;
           width: 90%;
       }
      img{
          width: 1.2rem;
          height: 1.2rem;
          margin-top: 1.5rem;
        
      }
   }
  }
  ion-item {
    margin: 0.5rem;
    .contentIcon{
        float: left;
        margin-right: 1rem;
        ion-icon{
            color:#00bcd4
        }
    }
    .contentLeft{
        width: 99%;
        div{
            margin-bottom: 1rem;
        }
        .title{
            font-family:PingFang SC;
            font-weight:bold;
            color:rgba(34,34,34,1);
            a{
                /*color:#B81321;*/
            }
        }
        .action{
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(85,85,85,1);
            ion-label:nth-child(2){
                float: right;
                margin: 0px;
                width: 37%;
            }
            ion-label:nth-child(1){
                float: left;
                margin: 0px;
                width: 30%;
            }
        }
    }
}