ion-title ion-img{
  height: 40px;
}
.offline{
    width:25px;
    height:25px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 18px;
    ion-img{
      width: 100%;
      height:100%;
    }
    .bgdoff{
      background-color: #FF4647;
    }
    .bgdon{
      background-color:#65AB64;
    }
  }
  .todo-box{
    padding: 1.5rem;
    .todo-title{
      /*background-color:#B81321 ;*/
      border-radius: 5px;
      color:#fff;
      height: 3.5rem;
      line-height: 3.5rm;
      text-align: center;
      span{
        line-height: 2.7rem;
        font-size: 1.7rem;
      }
      ion-icon{
        font-size: 3rem;
        float: right;
        color: #fff;
        padding: 0 1.5rem 0 0;
        cursor: pointer;
      }
    }
  }