.btnright{
    float:right;
}
.numinp{
    border: 1px solid;
    height: 25px;
    width: 50px;
}
.nulldiv2{
    height: 25px;
    width: 2px;
}
.quesoutline ion-button{
    --color:#fff;
    --background:rgb(96,41,21);
    width: 45px;
    height: 35px;
    font-size: 15px;
}
.quesoutline ion-badge{
    height: 35px;
    line-height: 29px;
}