.btnright{
    float:right;
}
.numinp{
    border: 1px solid;
    height: 25px;
    width: 50px;
}
.quesoutline ion-button {
    --color: #fff; 
    --background:rgb(96,41,21);
    width: 60%;
    height: 35px;
    font-size: 15px;
}
.quesoutline ion-badge {
    height:35px;
    margin-left: 5%;
    color: black;
    line-height: 28px;
}
.ans{
    width: 20%;
    text-align: center;
    ion-label{
        border-radius: 25%;
        line-height: 30px;
        // width: 50%;
        // margin-left: 20px;
    }
}
.ques{
    width:75%;
    margin:10px 0 10px 0;
}
.null{
    width: 5%;
}
.quesoutline div{
    width: 25%;
    text-align: center;
}
.listModal ion-item{
    --border-color:#A0A0A0;
}
.quesoutline{
    margin-top: 15px;
}
ion-radio-group ion-item ion-label{
    border-radius: 25%;
    width: 50px;
    line-height: 30px;
    text-align: center;
}
.answer{
    border-radius: 25%;
    width: 50px;
    line-height: 30px;
    text-align: center;
}