ion-back-button{
    --color:#fff;
}
ion-toolbar{
    --background:#333333;
    ion-title{
      --color:#fff;
    }
  }
  /** toast **/
ion-toast {
    --background: rgba(58, 58, 58, 0.9);
    --color: #fff;
    text-align: center;
  }
.account-box{
    height: 100%;
    background-color: #eeeeee;
    padding: 0 1.2rem;
    .description{
        text-align: left;
        color: #666666;
        // font-size: 1.2rem;
        padding: 2rem 1.2rem;
    }
    ion-list{
        border-radius: 1rem;
        padding-top: 1rem;
        ion-label{
            width: 45%;
            font-size: 1.5rem;
            color: #111111;
            text-align: left;
        }
        ion-input{
            border-bottom: 1px solid #999999;
            font-size: 1.4rem;
        }
        ion-item:last-child{
            margin-top: 2.5rem;
        }
        .setSubmit{
            border-top: 1px dashed #999999;
            height: 4.9rem;
            width: 100%;
            button{
                color: #E03024;
                font-size: 1.7rem;
                display: block;
                margin: 0 auto;
                margin-top: 1.5rem;
                background: none;
            }
        }
       
    }
    .descriptionPass{
        margin-top: 2rem;
         padding:0 1.2rem;
        p{  
            
            font-size: 1.3rem;
            color: #666666;
            text-align: left;
        }
        ul{
           padding-left: 1.2rem;
           color: #666666;
            li{
                padding-top: 1rem 0;
                padding-top: .7rem;
                list-style-type: disc !important;
            }
        }
    }
}
