<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="account-box">
    <div class="description">
      <p>Enter a new password for this accout</p>
      <p>Setting this password will overwrite any previous password</p>
    </div>
    <ion-list>
      <ion-item lines="none">
        <ion-label>Current passoword</ion-label>
        <ion-input type="password" placeholder="Enter original password" [(ngModel)]="currentPass"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label>New Password</ion-label>
        <ion-input type="password" placeholder="Enter new password" [(ngModel)]="newPassword"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Confirm Password</ion-label>
        <ion-input type="password" placeholder="Re-enter new password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <div class="setSubmit">
          <button (click)="setPass()">SUBMIT</button>
        </div>
      </ion-item>
    </ion-list>
    <div class="descriptionPass">
      <p class="title">Password must meet complexity requirements as below:</p>
      <ul>
        <li>At least one letter</li>
        <li>At least one number</li>
        <li>At least one cappital letter</li>
        <li>Minimum 8 password lengths</li>
      </ul>
    </div>
  </div>
</ion-content>