.custom-popover .popover-content {
  width: 60% !important;
}
.signature-area{
  display:flex;
  background-color:#eee;
  height:100px;
  width:200px;
  justify-content: center;
  align-items: center;
}
ion-button{
  font-size: 2rem;
}