
.account-box{
    height: 100%;
    background-color: #eeeeee;
    .accountHr{
        height: 1rem;
    }
    ion-label{
        font-size: 1.5rem;
        min-height:3rem ;
        line-height: 3rem;
    }
    .description{
        padding: 0 1.8rem;
        margin-top: 2rem;
        p{
            font-size: 1.3rem;
            color: #666666;
            text-align: left;
        }
        ul{
           padding-top: 1.2rem;
           color: #666666;
           padding: 0 1.8rem;
            li{
                padding-top: .7rem;
                list-style-type: disc !important;
            }
        }
    }
}
// ion-toolbar{
//     --background:#333333;
//     ion-title{
//       --color:#fff;
//     }
//   }