.action-box{
    height: 100%;
    width: 100%;
    background: #f2f3f5;
    margin-bottom: 3rem;
}
.textarea-box{
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 0;
    .head{
        padding: 0 1rem;
        font-size: 1.4rem;
        color: rgba(37, 75, 107, 1);
    }
    .textareaS{
        border:1px solid #999999;
        border-radius: 6px;
        padding: 1rem;
        margin: 1rem 1rem 0;
        width: 94%;
    }
}
.btnHead-box{
    width: 12.8rem;
    position: absolute;
    top:4rem;
    right: 1rem;
    z-index: 14;
    box-shadow: 0 0 6px #333333 ;
    border-radius:8px;
    img{
       width: 40px;height: 25px;
       position: absolute;
       top: -1rem;
       right: 0rem;
    }
    li{
       height: 4.4rem;
       line-height: 4.4rem;
       background-image: linear-gradient(to top,#E5F3FF ,#fff);
       font-size: 1.6rem;
       text-align: left;
       color: #111111;
       box-shadow: 0 15px 35px rgba(0,0,0,0.1 );
       padding-left: 1.5rem;
       transition: background-image 200ms linear;
       cursor: pointer;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
    }
    li:nth-of-type(1){
       border-radius: 8px 8px 0 0;
    }
    li:last-child{
       border-radius:  0 0 8px 8px;
    }
    li:hover{
       background-image: linear-gradient(to top,#A6D5FF ,#fff);
    }
   
 }
.btn-box{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background: #fff;
    padding: 1rem;
    div{
        width: 50%;
        ion-button{
            width: 90%;
            margin: 0 10px;
        }
    }
}
.attachment-box{
    background: rgba(242, 243, 245, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem ;
    margin-bottom: 1rem;
    width: 100%;
    img{
        width: 5.5rem;
        height:5.5rem ;
    }
    p{
        flex: 1;
    }
}
.trail-box{
    padding: 1rem 2rem;
}
.titleLabel{
    font-size: 1.4rem;
}