
.account-box{
    height: 100%;
    background-color: #eeeeee;
    ul{
        
        li{
            padding: 0 1.5rem;
            // border-bottom: 1px solid #cccccc;
            background-color: #fff;
            margin-bottom: 1rem;
            .account_title{
                height: 3rem;
                line-height: 3rem;
                img{
                    width: 13px;height: 14px;
                }
                label{
                    color: #254B6B;
                    padding-left: 1rem;
                    font-size: 1.4rem;
                }
            }
            .account_content{
                padding-left: 2.5rem;
                height: 3rem;
                line-height: 3rem;
            }
        }
        li:last-child{
            border:none;
        }
    }
    
   
}
